In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/human/2nd_project/경제/경제/서울시 상권분석서비스(소득소비-행정동).csv', encoding='euc-kr')

In [10]:
# '기준_년분기_코드'에서 뒷자리 숫자 제거
df['기준_년분기_코드'] = df['기준_년분기_코드'].astype(str).str[:-1]

# 결과 확인
df.head()

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
0,2024,11110680,창신2동,2112817,5,378781000,114626000,2615000,3824000,54984000,1872000,1625000,6167000,8797000,7498000,176773000
1,2024,11110670,창신1동,2393308,5,885535000,150365000,56693000,1192000,227077000,754000,29247000,35303000,92980000,49143000,242781000
2,2024,11170700,보광동,2545653,6,378073000,117293000,7390000,6950000,49139000,3287000,14383000,18357000,13263000,13958000,134053000
3,2024,11140650,신당5동,3027979,7,916706000,164793000,22144000,13424000,135532000,38454000,4674000,55450000,107647000,17265000,357323000
4,2024,11170510,후암동,3013677,7,732920000,308335000,12720000,10397000,36686000,11974000,30917000,7239000,22807000,28991000,262854000

In [11]:
dfs_by_year = {year: data for year, data in df.groupby('기준_년분기_코드')}

for year, data in dfs_by_year.items():
    print(f"기준_년분기_코드: {year}, 데이터 크기: {data.shape}")
    print(data.head())  # 각 연도의 데이터 미리보기

기준_년분기_코드: 2019, 데이터 크기: (1700, 16)
     기준_년분기_코드    행정동_코드     행정동_코드_명  월_평균_소득_금액  소득_구간_코드         지출_총금액  \
2550      2019  11110530          사직동     5208463         9    31889341000
2551      2019  11110615  종로1?2?3?4가동     3350350         7    77584610000
2552      2019  11110650          혜화동     3472006         7     7826497000
2553      2019  11110680         창신2동     2179485         5      670987000
2554      2019  11140520          소공동     5583264         9  1018122360000

       식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액    교통_지출_총금액  \
2550   1238314000     158974000     60281000   586427000    188458000
2551   3618998000    7478066000    861970000  4123252000   3236609000
2552   1354887000     215665000     77222000  1129580000     20145000
2553    143195000      23323000     11149000   142754000       945000
2554  21939934000      79342000    398705000  1374288000  13670278000

       교육_지출_총금액   유흥_지출_총금액  여가_문화_지출_총금액    기타_지출_총금액    음식_지출_총금액
2550   169234000   293797000    1241791000  23670438000   4281627000
2551  2062644000  2398515000   13520753000  23729021000  16554782000
2552   195279000   415196000     565923000    361926000   3490674000
2553           0    17411000      32513000     18104000    281593000
2554   412044000   200962000  965779543000  11607102000   2660162000
기준_년분기_코드: 2020, 데이터 크기: (1700, 16)
     기준_년분기_코드    행정동_코드 행정동_코드_명  월_평균_소득_금액  소득_구간_코드        지출_총금액  \
2755      2020  11680660     개포1동     5336373         9     152044000
4251      2020  11110540      삼청동     3442534         7    1684064000
4252      2020  11140540      회현동     4442451         8  658887828000
4253      2020  11140550       명동     3733600         7   47775806000
4254      2020  11140580      장충동     2895026         6    1356648000

      식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액     교통_지출_총금액  \
2755    80731000      10833000      2741000    28371000             0
4251   359626000     244331000     57589000    56977000       9139000
4252   892533000     567294000    353085000  2409055000  351631103000
4253  1905197000    1090026000   2593374000  2702568000    3172178000
4254   173387000      67542000     16265000    40073000     186857000

        교육_지출_총금액  유흥_지출_총금액  여가_문화_지출_총금액   기타_지출_총금액   음식_지출_총금액
2755     12684000          0             0     5613000    11071000
4251            0    2145000     166455000   113183000   674619000
4252     39803000  120992000  294859926000  6201236000  1812801000
4253  14406224000  291522000   13218408000  2865712000  5530597000
4254      6802000   16558000      34926000    36574000   777664000
기준_년분기_코드: 2021, 데이터 크기: (1700, 16)
     기준_년분기_코드    행정동_코드 행정동_코드_명  월_평균_소득_금액  소득_구간_코드      지출_총금액  \
5950      2021  11110550      부암동     3647449         7  1058077000
5951      2021  11200520    왕십리2동     3474994         7  1603131000
5952      2021  11200720      송정동     2566462         6   677043000
5953      2021  11215760     중곡3동     2390961         5  2253036000
5954      2021  11215780       능동     2846023         6  4434182000

      식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액   교통_지출_총금액  \
5950   182100000      15574000     18216000   104159000   112926000
5951   435044000      25522000    172680000   320196000      572000
5952   190162000      14186000     20923000    80962000   218071000
5953   603943000      24709000     71240000   405712000   469452000
5954   676836000      24089000    341242000   957953000  1145675000

      교육_지출_총금액  유흥_지출_총금액  여가_문화_지출_총금액  기타_지출_총금액  음식_지출_총금액
5950   76457000          0      50846000    7036000  490763000
5951  140671000   29190000      91630000   94778000  292848000
5952    6438000    2826000      55876000    7575000   80024000
5953   95234000   57688000     101362000   63284000  360412000
5954   48688000   93844000     172205000   77933000  895717000
기준_년분기_코드: 2022, 데이터 크기: (1700, 16)
     기준_년분기_코드    행정동_코드 행정동_코드_명  월_평균_소득_금액  소득_구간_코드         지출_총금액  \
7650      2022  11110550      부암동     3647449         7     1150156000
7651      2022  11140520      소공동     5380521         9  1677876423000
7652      2022  11140645      청구동     3566241         7     1307141000
7653      2022  11170650    이태원1동     3682946         7     5295334000
7654      2022  11200580      응봉동     3858472         8      449775000

      식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액  교통_지출_총금액  교육_지출_총금액  \
7650   197255000      24368000      3055000   110729000   91012000   80958000
7651  1132375000      33677000    494818000  1313364000  611243000   93140000
7652   388708000     107456000     47942000    85661000    3797000  125290000
7653   699379000     283066000    104438000   350065000   22198000    8283000
7654   228346000       7944000       156000    31719000   30117000   32462000

      유흥_지출_총금액   여가_문화_지출_총금액   기타_지출_총금액   음식_지출_총금액
7650     545000       73066000    10146000   559022000
7651  109906000  1661962297000  9509851000  2615752000
7652   15328000       46020000   126199000   360740000
7653  726135000      319678000   208830000  2573262000
7654          0       24891000    17421000    76719000
기준_년분기_코드: 2023, 데이터 크기: (1700, 16)
    기준_년분기_코드    행정동_코드 행정동_코드_명  월_평균_소득_금액  소득_구간_코드       지출_총금액  \
50       2023  11650652     양재2동     3222382         7  10104796000
156      2023  11110550      부암동     3647449         7   1385759000
262      2023  11110640      이화동     3024996         7  10622974000
263      2023  11680660     개포1동     5336373         9    250506000
420      2023  11110515    청운효자동     3780222         8   2784933000

     식료품_지출_총금액  의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액  교통_지출_총금액   교육_지출_총금액  \
50   2222160000     152143000     70918000  1817290000  801723000   259544000
156   232200000      39726000     12611000   101703000  109837000    78943000
262  1035923000     213685000     41488000  2776380000   30454000  2965305000
263    70320000       8632000      1380000   134557000          0    18870000
420   880544000     197642000     57935000   121901000   25568000    53711000

     유흥_지출_총금액  여가_문화_지출_총금액  기타_지출_총금액   음식_지출_총금액
50   192584000    1093403000  152287000  3342744000
156    2652000     131748000    6197000   670142000
262  176154000     207416000  181317000  2994852000
263          0             0    5140000    11607000
420   86449000     171279000   67694000  1122210000
기준_년분기_코드: 2024, 데이터 크기: (850, 16)
  기준_년분기_코드    행정동_코드 행정동_코드_명  월_평균_소득_금액  소득_구간_코드     지출_총금액  식료품_지출_총금액  \
0      2024  11110680     창신2동     2112817         5  378781000   114626000
1      2024  11110670     창신1동     2393308         5  885535000   150365000
2      2024  11170700      보광동     2545653         6  378073000   117293000
3      2024  11140650     신당5동     3027979         7  916706000   164793000
4      2024  11170510      후암동     3013677         7  732920000   308335000

   의류_신발_지출_총금액  생활용품_지출_총금액  의료비_지출_총금액  교통_지출_총금액  교육_지출_총금액  유흥_지출_총금액  \
0       2615000      3824000    54984000    1872000    1625000    6167000
1      56693000      1192000   227077000     754000   29247000   35303000
2       7390000      6950000    49139000    3287000   14383000   18357000
3      22144000     13424000   135532000   38454000    4674000   55450000
4      12720000     10397000    36686000   11974000   30917000    7239000

   여가_문화_지출_총금액  기타_지출_총금액  음식_지출_총금액
0       8797000    7498000  176773000
1      92980000   49143000  242781000
2      13263000   13958000  134053000
3     107647000   17265000  357323000
4      22807000   28991000  262854000

In [ ]:
data_of_2019 = dfs_by_year['2019']
new_columns = ['행정동_코드_명','월_평균_소득_금액','지출_총금액','생활용품_지출_총금액','교통_지출_총금액','여가_문화_지출_총금액','음식_지출_총금액'] 
data_of_2019 = data_of_2019[new_columns]
data_of_2019_1 = data_of_2019.groupby('행정동_코드_명').mean()
data_of_2019_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4364951.75,3.156136e+09,1.551262e+08,2373500.0,4.008275e+07,4.994245e+08
가락2동,4073638.00,5.467626e+09,3.173270e+08,310300000.0,2.759475e+08,1.398532e+09
가락본동,3687435.50,8.156844e+09,1.644470e+08,100021750.0,8.670552e+08,2.663765e+09
가리봉동,2412858.00,1.343918e+09,4.128975e+07,42807500.0,4.564775e+07,4.525312e+08
가산동,2699546.00,8.350654e+10,4.778439e+10,457253500.0,2.794033e+09,4.951115e+09
...,...,...,...,...,...,...
효창동,3607270.00,9.465075e+08,8.974000e+06,14237250.0,6.938625e+07,1.798872e+08
후암동,3116563.50,1.680152e+09,1.408275e+07,28323500.0,3.384050e+07,6.774178e+08
휘경1동,2840292.25,3.242232e+09,2.418705e+08,57886500.0,1.778558e+08,1.010955e+09
휘경2동,3164333.25,1.803216e+09,4.947250e+06,299273500.0,1.195152e+08,3.736452e+08
흑석동,4167536.50,8.694022e+09,5.459000e+07,31848750.0,3.892148e+08,2.055272e+09

In [13]:
data_of_2020 = dfs_by_year['2020']
new_columns = ['행정동_코드_명','월_평균_소득_금액','지출_총금액','생활용품_지출_총금액','교통_지출_총금액','여가_문화_지출_총금액','음식_지출_총금액'] 
data_of_2020 = data_of_2020[new_columns]
data_of_2020_1 = data_of_2020.groupby('행정동_코드_명').mean()
data_of_2020_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4973588.0,4.313602e+09,1.473662e+08,6523250.0,6.278500e+07,5.168072e+08
가락2동,3910198.0,5.393600e+09,3.066018e+08,305974000.0,2.330872e+08,1.325814e+09
가락본동,3521561.0,7.448410e+09,1.075950e+08,130711000.0,6.859335e+08,2.365945e+09
가리봉동,2336331.0,1.087767e+09,4.799300e+07,28065750.0,4.460675e+07,3.335418e+08
가산동,2567594.0,8.104155e+10,5.193544e+10,422676000.0,2.393987e+09,4.701116e+09
...,...,...,...,...,...,...
효창동,3523201.0,9.944618e+08,9.883500e+06,16728000.0,5.237550e+07,1.888275e+08
후암동,3013677.0,1.812514e+09,1.387625e+07,25635750.0,1.195795e+08,6.578162e+08
휘경1동,2722774.0,2.894222e+09,2.350875e+08,46894250.0,1.251405e+08,7.521335e+08
휘경2동,3071586.0,1.794818e+09,3.527250e+06,275538000.0,1.459850e+08,3.058995e+08
흑석동,4224946.0,7.714966e+09,3.822100e+07,103765000.0,2.473508e+08,1.474376e+09

In [14]:
data_of_2021 = dfs_by_year['2021'] 
data_of_2021 = data_of_2021[new_columns]
data_of_2021_1 = data_of_2021.groupby('행정동_코드_명').mean()
data_of_2021_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4973588.0,4.667428e+09,1.714155e+08,6172250.0,1.155512e+08,4.450732e+08
가락2동,3910198.0,5.552830e+09,2.215645e+08,396376750.0,2.560088e+08,1.274105e+09
가락본동,3521561.0,7.160973e+09,8.173650e+07,152908250.0,7.662440e+08,2.197166e+09
가리봉동,2336331.0,1.025530e+09,2.951050e+07,29492500.0,1.110658e+08,3.016995e+08
가산동,2567594.0,7.335878e+10,4.174904e+10,517407000.0,3.189900e+09,4.923327e+09
...,...,...,...,...,...,...
효창동,3523201.0,1.023946e+09,1.169500e+07,11497250.0,5.272500e+07,1.869652e+08
후암동,3013677.0,1.910654e+09,2.691925e+07,42985250.0,1.429085e+08,6.654868e+08
휘경1동,2722774.0,2.886821e+09,2.422398e+08,61988000.0,1.479575e+08,6.488035e+08
휘경2동,3071586.0,2.076243e+09,6.142250e+06,396194250.0,2.258432e+08,2.981990e+08
흑석동,4224946.0,8.285468e+09,3.682325e+07,211014250.0,2.464460e+08,1.378204e+09

In [15]:
data_of_2022 = dfs_by_year['2022'] 
data_of_2022 = data_of_2022[new_columns]
data_of_2022_1 = data_of_2022.groupby('행정동_코드_명').mean()
data_of_2022_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4973588.0,5.445590e+09,187744250.0,7653750.0,1.886438e+08,5.907052e+08
가락2동,3910198.0,6.054228e+09,67433500.0,412983000.0,2.739225e+08,1.535703e+09
가락본동,3521561.0,8.160591e+09,89685500.0,343813000.0,8.742205e+08,2.864169e+09
가리봉동,2336331.0,1.087078e+09,25793500.0,28408250.0,6.892175e+07,3.563905e+08
가산동,2567594.0,3.612865e+10,450121250.0,634858000.0,4.131142e+09,5.745881e+09
...,...,...,...,...,...,...
효창동,3523201.0,9.740932e+08,10333750.0,11352750.0,7.452925e+07,1.746908e+08
후암동,3013677.0,2.002564e+09,29964500.0,49428250.0,1.468048e+08,7.210782e+08
휘경1동,2722774.0,3.357385e+09,229919000.0,61235500.0,2.133720e+08,8.657708e+08
휘경2동,3071586.0,2.217352e+09,14219500.0,491116250.0,2.475180e+08,3.208810e+08
흑석동,4224946.0,9.519224e+09,37306000.0,327439500.0,3.286945e+08,1.992426e+09

In [16]:
data_of_2023 = dfs_by_year['2023'] 
data_of_2023 = data_of_2023[new_columns]
data_of_2023_1 = data_of_2023.groupby('행정동_코드_명').mean()
data_of_2023_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4973588.0,5.982293e+09,214936750.0,8291000.0,2.568255e+08,7.301048e+08
가락2동,3910198.0,6.441197e+09,47927500.0,364480500.0,3.146572e+08,1.532845e+09
가락본동,3521561.0,8.874856e+09,95116000.0,274874750.0,8.401845e+08,3.206533e+09
가리봉동,2336331.0,1.214141e+09,21632750.0,20032500.0,6.811825e+07,3.832468e+08
가산동,2567594.0,3.946324e+10,955068250.0,618551750.0,7.436817e+09,6.125236e+09
...,...,...,...,...,...,...
효창동,3523201.0,1.009382e+09,12815000.0,12249500.0,6.701925e+07,1.703828e+08
후암동,3013677.0,2.046434e+09,20930500.0,42158000.0,1.523468e+08,7.426098e+08
휘경1동,2722774.0,3.926974e+09,236482250.0,57679250.0,2.924442e+08,1.003624e+09
휘경2동,3071586.0,2.388687e+09,11560750.0,478224000.0,2.727205e+08,3.986535e+08
흑석동,4224946.0,1.024539e+10,35232250.0,255211250.0,3.650575e+08,2.178387e+09

In [17]:
data_of_2024 = dfs_by_year['2024'] 
data_of_2024 = data_of_2024[new_columns]
data_of_2024_1 = data_of_2024.groupby('행정동_코드_명').mean()
data_of_2024_1

,월_평균_소득_금액,지출_총금액,생활용품_지출_총금액,교통_지출_총금액,여가_문화_지출_총금액,음식_지출_총금액
행정동_코드_명,,,,,,
가락1동,4973588.0,3.866742e+09,90776500.0,6815500.0,1.559990e+08,5.487480e+08
가락2동,3910198.0,4.158950e+09,30850500.0,221221500.0,2.076770e+08,9.834110e+08
가락본동,3521561.0,6.450703e+09,60410500.0,191183000.0,5.606540e+08,2.147595e+09
가리봉동,2336331.0,8.979580e+08,22368000.0,20828000.0,3.819350e+07,2.366495e+08
가산동,2567594.0,2.604141e+10,305592000.0,373661500.0,6.527096e+09,4.006440e+09
...,...,...,...,...,...,...
효창동,3523201.0,6.709965e+08,9733500.0,9683000.0,3.878500e+07,1.162315e+08
후암동,3013677.0,1.654717e+09,74566500.0,26014500.0,4.899650e+07,5.583405e+08
휘경1동,2722774.0,2.635143e+09,173310000.0,32593500.0,1.919420e+08,6.408595e+08
휘경2동,3071586.0,1.573742e+09,4513000.0,229945500.0,1.864385e+08,3.195035e+08
흑석동,4224946.0,6.784047e+09,19784500.0,164146500.0,2.295710e+08,1.584804e+09